@{
    Layout = null;
    @Scripts.Render("~/bundles/jquery")
}
<!DOCTYPE html>

<html>
    @RenderSection("scripts", required: false)
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>_Layout</title>
    </head>
    <body>
        <div>
        
        </div>
    </body>
</html>
