@model Domain.GameLife.ModelGameLife
@{
    ViewBag.Title = "Main";
    @Scripts.Render("~/bundles/draw")
    @Scripts.Render("~/bundles/jquery")
    var t = Model.ToJSON();
}

<script type="text/javascript">
    $(document).ready(function () {
        startCanvas($('#temp').text());
    });
</script> 
<h2>Main</h2>
<canvas id="canvas" width="1000" height="500">
    Здесь можно указать сообщение для тех,
    у кого не поддерживается canvas
</canvas>
<div id="Age"></div>
@Html.ActionLink("Next", "PreapreGameModel");
<div id="temp" style="visibility: hidden">@Model.ToJSON()</div>

